<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".html" mimeType="text/html" />
        </staticContent>
        <defaultDocument>
            <files>
            <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>